<h4>Look up artist's festival information</h4>
<input type="text" class="form-control" id="artistInput" placeholder="Enter artist">
<hr>
<div id="map-canvas"></div>
<script>
 var geocoder = new google.maps.Geocoder,
  infowindow = new google.maps.InfoWindow(),
  map,
  mapMarkers = [],
  directionsDisplay,
  directionsService;

$(document).ready(function() {
  var artistReq = null, currentArtist = 0;

  var artists = new Bloodhound({
    datumTokenizer: function(d) { 
      return Bloodhound.tokenizers.whitespace(d.artist); 
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 10,
    prefetch: {
      url: '/getAllArtists.json',
      ttl: 600000
    }
  });
   
  artists.initialize();
   
  $('#artistInput').typeahead(null, {
    name: 'artists',
    displayKey: 'artist',
    source: artists.ttAdapter(),
    templates: {
      suggestion: function(d) {
        return '<p class="artistName">' + d.artist + '</p>';
      }
    }
  }).bind('typeahead:selected', function (obj, datum){
    if (currentArtist !== datum.artistId) {
      currentArtist = datum.artistId;
      if (artistReq !== null) {
        artistReq.abort();
      }
      artistReq = $.ajax({
        url: '/getFestivalsForArtist.json',
        type: 'GET',
        data: {
          artistId: datum.artistId
        },
        success: function (response) {
          clearMarkers();
          if (response.length > 1 && response.length <= 10) {
            plotFestivals(response);
          } else {
            $.each(response, function (i ,v) {
              pinFestival(v);
            });
          }          
        }
      });
    }
  });

  var height = $(window).height() - 10 - 43 - 39 - 34 - 41 - 10;
  var width = $(window).width() - 10 - 10;
  $('#map-canvas').css('height',height);
  //$('#map-canvas').css('width',width);

  geocoder.geocode( { 'address': 'United States of America'}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var myOptions = {
        zoom: 4,
        maxZoom: 10,
        minZoom: 3,
        center: results[0].geometry.location,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: false,
        scrollwheel: true,
        draggable: true,
        navigationControl: true,
        mapTypeControl: false,
        scaleControl: true,
        disableDoubleClickZoom: false
      };

      map = new google.maps.Map($("#map-canvas")[0], myOptions);
      directionsDisplay = new google.maps.DirectionsRenderer();
      directionsDisplay.setOptions({
        draggable: false,
        suppressInfoWindows: false,
        suppressMarkers: true
      });
      directionsDisplay.setMap(map);
      directionsService = new google.maps.DirectionsService();

      
    } else {
      alert("Google Maps error: " + status);
    }
  });

  var pinFestival = function(festival) {
    geocoder.geocode( { 'address': festival.location }, function(results, status) {
      if (status ==google.maps.GeocoderStatus.OK) {
        dropMarker(results[0].geometry.location, festival);
      } else {
        alert("Google Maps error: " + status);
      }
    })
  };

  var clearMarkers = function() {
    $.each(mapMarkers, function (i,v) {
      v.setMap(null);
    });
    mapMarkers.length = 0;
  };

  var dropMarker = function(location, festival, marker) {
    var marker = new google.maps.Marker({
      position: location,
      map: map,
      icon: marker
    });
    google.maps.event.addListener(marker, 'click', (function(marker) {
      return function() {
        infowindow.setContent(infoWindowContent(festival));
        infowindow.open(map, marker);
      }
    })(marker));
    mapMarkers.push(marker);
  };

  var infoWindowContent = function(festival) {
    var start = festival.startDates.split(','),
      end = festival.endDates.split(','),
      dateString = '';

    $.each(start, function(i, v) {
      dateString += moment(v).format('dddd, MMMM Do') + 
        ' to ' + moment(end[i]).format('dddd, MMMM Do');
      if (i <= start.length - 2) {
        dateString += '<br>';
      }
    });

    return festival.festival + '<br>' + 
      festival.location + '<br>' + 
      dateString;
  };

  var plotFestivals = function(festivals) {
    var waypts = [];
    for (var i = 1; i < festivals.length - 1; i++) {
      waypts.push({
        location: festivals[i].location,
        stopover: true
      });
    }
    var request = {
      origin: festivals[0].location,
      destination: festivals[festivals.length - 1].location,
      waypoints: waypts,
      travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        dropDirectionMarkers(response.routes[0].legs, festivals);
      } else {
        alert("Google Maps error: " + status);
      }
    })
  };

  var dropDirectionMarkers = function(route, festivals) {
    console.log(route);
    console.log(festivals);
    for (var i = 0; i < route.length; i++) {
      var markerImg = '/images/marker' + (i + 1) + '.png';
      dropMarker(route[i].start_location, festivals[i], markerImg);
    }
    var markerImg = '/images/marker' + (route.length + 1) + '.png';
    dropMarker(route[route.length - 1].end_location, festivals[route.length], markerImg);
  };
});
</script>