<h4>Look up artist's festival information</h4>
<input type="text" class="form-control" id="artistInput" placeholder="Enter artist">
<hr>
<div id="artistInfo">
</div>
<script>
$(document).ready(function() {
  var artistReq = null, currentArtist = 0;

  var artists = new Bloodhound({
    datumTokenizer: function(d) { 
      return Bloodhound.tokenizers.whitespace(d.artist); 
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 10,
    prefetch: {
      url: '/getAllArtists.json',
      ttl: 600000
    }
  });
   
  artists.initialize();
   
  $('#artistInput').typeahead(null, {
    name: 'artists',
    displayKey: 'artist',
    source: artists.ttAdapter(),
    templates: {
      suggestion: function(d) {
        return '<p class="artistName">' + d.artist + '</p>';
      }
    }
  }).bind('typeahead:selected', function (obj, datum){
    if (currentArtist !== datum.artistId) {
      currentArtist = datum.artistId;
      if (artistReq !== null) {
        artistReq.abort();
      }
      artistReq = $.ajax({
        url: '/getArtistInfo',
        type: 'GET',
        data: {
          artistId: datum.artistId
        },
        success: function (response) {
          artistReq = null;
          $('#artistInfo').html(response);
        }
      });
    }
  });
});
</script>