<ul id="homeTabs" class="nav nav-tabs">
  <li class="home active"><a data-toggle="tab" href="#home">Home</a></li>
  <li class="featureTab" data-feature="artists"><a data-toggle="tab" href="#artists">Artists</a></li>
  <li class="featureTab" data-feature="festivals"><a data-toggle="tab" href="#festivals">Festivals</a></li>
  <li class="featureTab" data-feature="venn"><a data-toggle="tab" href="#venn">Venn Diagram</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="home">
    <h4>Pick a feature above.</h4>
  </div>
  <div class="tab-pane fade" id="artists"></div>
  <div class="tab-pane fade" id="festivals"></div>
  <div class="tab-pane fade" id="venn"></div>
</div>

<script>
$(document).ready(function() {
  var url = document.location.toString();
  if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').click();
  }
});

$('#homeTabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  var parent = $(this).parent('li');
  if ($(parent).hasClass('featureTab')) {
    var feature = $(parent).attr('data-feature');
    var featureDiv = $('#' + feature);
    $.ajax({
      url: '/' + feature,
      type: 'GET',
      success: function (response) {
        $(featureDiv).html(response);
      }
    });
    window.location.hash = '#' + feature;
  } else {
    window.location.hash = '';
  }
});
</script>