<h4>Choose up to 3 festivals to compare</h3>
<div id="vennBody">
  <div id="festivalCheckboxes">
  {{#each festivals}}
    <div class="checkbox">
      <label><input class="festivalCheckbox" type="checkbox" value="{{festivalId}}">{{festival}}</label>
    </div>
  {{/each}}
    <div class="checkbox">
      <label><input class="festivalCheckbox" type="checkbox" value="-1">All Others</label>
    </div>
  </div>
  <div id='venn_d'></div>
  <div id='vennModal' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          Artists In Commom
        </div>
        <div class="modal-body">
          <ul>
            <li>Artist 1</li>
            <li>Artist 2</li>
            <li>Artist 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('#vennModal').modal({
  show: false
});

$('.checkbox').change(function() {  
  var l = $('.festivalCheckbox:checked').length;
  if (l === 2 || l === 3) {
    var festivalIds = $.map($('.festivalCheckbox:checked'), function(v, i){
      return v.value;
    }).join(',');
    $('.venn_d').html('');
    $.ajax({
      url: '/getVennDiagramData.json',
      type: 'GET',
      data: {
        festivalIds: festivalIds,
      },
      success: function (response) {
        var sets = venn.venn(response.sets, response.overlaps);
        $('#venn_d').html('');
        var height = $(window).height() - 10 - 43 - 39 - 10 - 5;
        var width = $(window).width() - 10 - 20 - 200 - 200 - 20 - 10 - 50;
        venn.drawD3Diagram(d3.select('#venn_d'), sets, width, height, null, null);
        wireupCircles();
      }
    });
  } else {
    $('#venn_d').html('');
  }
  if (l === 3) {
    $('.festivalCheckbox:not(:checked)').prop('disabled',true);
  } else {
    $('.festivalCheckbox').prop('disabled',false);
  }
});

var wireupCircles = function() {
  $('circle').unbind('click');
  $('circle').click(function (e) {
    var x = e.offsetX || e.layerX, 
      y = e.offsetY || e.layerY;
    var set = [];
    $.each($('circle'), function(i, v) {
      if (pointInCircle(x, y, v)) {
        set.push($(v).attr('index'));
      }
    });
    //alert(set);
    createPopover(x, y, set);
  });
};

var createPopover = function(x, y, set) {

  $('#vennModal').modal('show');
};

var pointInCircle = function(x,y,circle) {
  var dx = Math.abs(x - $(circle).attr('cx')),
    dy = Math.abs(y - $(circle).attr('cy')),
    r = $(circle).attr('r');
  if (dx + dy <= r)
    return true;
  else if (dx > r || dy > r)
    return false;
  else
    return (dx*dx + dy*dy <= r*r);
};
</script>