<!DOCTYPE html>
<html>
  <head>
    <title>Festival Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdn.jsdelivr.net/typeahead.js/0.10.1/typeahead.bundle.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script> 
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="./content/venn.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="./content/festival-guide.css" rel="stylesheet">
  </head>
  <body>
    <ul id="homeTabs" class="nav nav-tabs">
      <li class="home active"><a data-toggle="tab" href="#home">Home</a></li>
      <li class="featureTab" data-feature="artists"><a data-toggle="tab" href="#artists">Artists</a></li>
      <li class="featureTab" data-feature="festivals"><a data-toggle="tab" href="#festivals">Festivals</a></li>
      <li class="featureTab" data-feature="venn"><a data-toggle="tab" href="#venn">Venn Diagram</a></li>
      <li class="featureTab" data-feature="dupes" style="display:none;"><a data-toggle="tab" href="#dupes">DeDupe</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <h4>Pick a feature above.</h4>
      </div>
      <div class="tab-pane fade" id="artists"></div>
      <div class="tab-pane fade" id="festivals"></div>
      <div class="tab-pane fade" id="venn"></div>
      <div class="tab-pane fade" id="dupes"></div>
    </div>

    <script>
$(document).ready(function() {
  var url = document.location.toString();
  if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').click();
  }
});

$('#homeTabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  var parent = $(this).parent('li');
  if ($(parent).hasClass('featureTab')) {
    var feature = $(parent).attr('data-feature');
    var featureDiv = $('#' + feature);
    if (!$(featureDiv).html().length) {
      $.ajax({
        url: '/' + feature + '.py',
        type: 'GET',
        success: function (response) {
          $(featureDiv).html(response);
        }
      });
    }
    window.location.hash = '#' + feature;
  } else {
    window.location.hash = '';
  }
});
    </script>
  </body>
</html>